<head>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="/static/css/main2.css" rel="stylesheet" />
</head>

{% if ola == 1 %}
<h1 style="color:red">ERROR! CODIGO INCORRECTO</h1>
{% endif %}
<form id="contact-form" method="POST" action="/validar/{{id}}" style="margin-top: 7%">
  <p>¡Ya casi está listo!</p>
  <p>Ingrese su codigo secreto para terminar</p>
  <p>Si no lo conoce, de <a href="/login" target="_blank" style="text-decoration:none;color:red"> Clic Aqui</a></p>

    <label for="your-message">Codigo</label> secreto</p>

  <p>
    <input type="password" name="codigo" placeholder="Ingrese su codigo aca" class="expanding" required></input>
    
  </p>
  <p>
    <button type="submit">
      <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
        <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
	l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
      </svg>
      <small>Reservar salon</small>
    </button>
  </p>
</form>
